/* CSS WASSIM */

/*--------------------------( Géneral )---------------------------------*/
body{
    background-image: linear-gradient(90deg, rgb(255,255,255) 0%,transparent 66%),repeating-linear-gradient(45deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(90deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(135deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));

}

h1 {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 3pc;
    
}

.navbar {
    background-color: #beb88a;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 100%, 74% 100%, 70% 80%, 50% 55%, 30% 80%, 26% 100%, 0 100%, 0 0); */
}

.btn {
   
    margin: 12px 20px 5px 20px;

}

.btn:hover {
    color: #f0ec57;

}

input{
    max-width: 48% ;
}


i {
    color: #e3d87e;
    padding-left: 5px;
}

h2{
    padding-top: 30px;
}
/*--------------------------( calendrierEleve.php/calendrierProf.php )---------------------------------*/
.pointage,
.historique {
    display: flex;
    justify-content: center;
    margin-top: 0.4%;
    margin-bottom: 1%;
    clip-path: polygon(0 0, 100% 0, 100% 51%, 100% 100%, 80% 60%, 20% 60%, 0 100%, 0 43%);
    padding-bottom: 50px;
 
}


.table {
    border: 1px solid black;
    margin-top: 2%;
    max-width: 60%;

}

.jourSemaine {
    border-right: 1px solid black;
}


.ajouter {
    display: flex;
    justify-content: center;
    margin-top: 1%;

}


/*--------------------------( index.php )---------------------------------*/


#navbarIndex{
    clip-path: polygon(50% 0%, 100% 0, 80% 50%, 100% 100%, 100% 100%, 53% 100%, 0 100%, 0% 43%, 0 0);
    background-color: #beb88a;

}

.form{
    margin-top: 38vh;   
}

input{
    max-width: 48% ;
}


.inputIndex{
    width: 20% ;
    max-width: 48% ;

}


/*--------------------------( signup_form.php )---------------------------------*/



.signupForm{
    background-image: linear-gradient(90deg, rgb(255,255,255) 0%,transparent 66%),repeating-linear-gradient(45deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(90deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(135deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));
    width: 100%;

} 

.modal-content{

    background-image: linear-gradient(90deg, rgb(255,255,255) 0%,transparent 66%),repeating-linear-gradient(45deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(90deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(135deg, rgba(114, 114, 114,0.08) 0px, rgba(114, 114, 114,0.08) 1px,transparent 1px, transparent 16px),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));
   
}

.modal-header{
    background-color: #beb88a;
}

#titre{
    margin-top: 6vh;
}

/* CSS WASSIM */

/* CSS AYOUBE */